.AppContainer {
    margin-right: auto;
    margin-left: auto;
}
.container {
    position: relative;
    max-width: 990px;
    height: 100%;
    margin: 0 auto;
    padding: 0;
    width: 100%;
    text-align: center;
}
