.content {
    display: flex;
    flex-direction: row;
}
.rightSide, .leftSide {
    flex: 1;
}
.closeButton {
    width: 30px;
    cursor: pointer;
    position: absolute;
    right: -50px;
}
.header {
    padding-top: 30px;
    color: #1d9aca;
}
