.BookRow div, .tableHeader {
    display: flex;
}
.table a {
    text-decoration: none;
}
.BookRow div div,
.tableHeader div {
    float: left;
    padding: 10px;
    text-align: center;
    border: 1px solid #1d9aca;
    width: 20%;
    color: #000000;
    align-items: center;
    display: flex;
    justify-content: center;
    cursor: pointer;
}
.BookRow div div:first-child,
.tableHeader div:first-child {
    width: 40%;
    border-left: 2px solid #1d9aca;
}
.BookRow div div:last-child,
.tableHeader div:last-child {
    border-right: 2px solid #1d9aca;
}
.table a:last-child .BookRow div div {
    border-bottom: 2px solid #1d9aca;
}
.tableHeader div {
    background: #1d9aca;
    color: #fff;
}
.Pagination {
    margin-top: 20px;
}
.Pagination span,.Form button {
    cursor: pointer;
    display: inline-block;
    padding: 10px;
    width: 20px;
    border: 1px solid #1d9aca;
    color: #1d9aca;
    background-color: #fff;
    -webkit-transition: all 500ms ease-out;
    -moz-transition: all 500ms ease-out;
    -o-transition: all 500ms ease-out;
    transition: all 500ms ease-out;
}
.Pagination span {
    border-top: 2px solid #1d9aca;
    border-bottom: 2px solid #1d9aca;
}
.Pagination span:last-child:not(.dots) {
    border-right: 2px solid #1d9aca;
}
.Pagination span.active,
.Pagination span:hover,
.Form button:hover {
    color: #fff;
    background-color: #1d9aca;
}
span.dots,
span.dots:hover {
    cursor: not-allowed;
    border-top: none;
    border-bottom: none;
    font-weight: bold;
    background: none;
    color: #1d9aca;
}
span.dots:last-of-type {
    border-right: none;
}
.Form {
    margin-bottom: 20px;
}
.Form > div {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 20px 0;
}
.Form input {
    border: 2px solid #1d9aca;
    border-radius: 10px;
    display: block;
    padding: 10px 0 10px 10px;
    width: 400px;
    outline: none;
}
.Form button {
    display: block;
    font-weight: 600;
    font-size: 22px;
    width: 300px;
    border: 2px solid #1d9aca;
    outline: none;
}
.Error {
    color: #e45454;
}
.Dropdown select {
    border: 2px solid #1d9aca;
    border-radius: 10px;
    padding: 10px 0 10px 10px;
    width: 51px;
    outline: none;
    margin-left: 10px;
}
.Dropdown {
    position: absolute;
    right: 0;
    color: #1d9aca;
}
.tableHeader div {
    position: relative;
}
.tableHeader div::after {
    content: "";
    position: absolute;
    background: #1d9aca url(/app/assets/arrow.svg) no-repeat;
    background-size: 15px 15px;
    height: 20px;
    width: 20px;
    right: 20px;
    -ms-transform: rotate(90deg);
    -webkit-transform: rotate(90deg);
    transform: rotate(90deg);
}
.title div:first-child::after,
.subtitle div:nth-child(2)::after,
.authors div:nth-child(3)::after,
.publishedDate div:nth-child(4)::after {
    background: #1d9aca url(/app/assets/arrow-red.svg) no-repeat;
    background-size: 15px 15px;
}
.title.false div:first-child::after,
.subtitle.false div:nth-child(2)::after,
.authors.false div:nth-child(3)::after,
.publishedDate.false div:nth-child(4)::after {
    -ms-transform: rotate(-90deg);
    -webkit-transform: rotate(-90deg);
    transform: rotate(-90deg);
    bottom: 12px;
    right: 16px;
}
button:disabled, button:disabled:hover {
    cursor: not-allowed;
    opacity: 0.6;
    color: #939598;
    border: 2px solid #939598;
    background: #fff;
}
