.BookRow div, .tableHeader {
    display: flex;
}
.table a {
    text-decoration: none;
}
.BookRow div div,
.tableHeader div {
    float: left;
    padding: 10px;
    text-align: center;
    border: 1px solid #1d9aca;
    width: 15%;
    color: #000000;
    align-items: center;
    display: flex;
    justify-content: center;
}
.BookRow div div:first-child,
.tableHeader div:first-child {
    width: 35%;
    border-left: 2px solid #1d9aca;
}
.BookRow div div:last-child,
.tableHeader div:last-child {
    border-right: 2px solid #1d9aca;
}
.table a:last-child .BookRow div div {
    border-bottom: 2px solid #1d9aca;
}
.tableHeader div {
    background: #1d9aca;
    color: #fff;
}
.Pagination {
    margin-top: 20px;
}
.Pagination span,.Form button {
    cursor: pointer;
    display: inline-block;
    padding: 10px;
    width: 20px;
    border: 1px solid #1d9aca;
    color: #1d9aca;
    background-color: #fff;
    -webkit-transition: all 500ms ease-out;
    -moz-transition: all 500ms ease-out;
    -o-transition: all 500ms ease-out;
    transition: all 500ms ease-out;
}
.Pagination span.active,
.Pagination span:hover,
.Form button:hover {
    color: #fff;
    background-color: #1d9aca;
}
.Form {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
}
.Form input {
    border: 2px solid #1d9aca;
    border-radius: 10px;
    display: block;
    padding: 10px;
    margin-right: 30px;
    width: 300px;
    outline: none;
}
.Form button {
    display: block;
    width: 150px;
    border: 2px solid #1d9aca;
    outline: none;
}
.Error {
    color: #e45454;
}
